/*------------------------------------------------------------------------*/
/*-------------------------------- ! FONTES !-----------------------------*/
/*------------------------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap);font-family: Roboto, sans-serif;
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap);font-family: Montserrat, sans-serif;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&display=swap);font-family: Open Sans, sans-serif;
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap);font-family: Lato, sans-serif;*/
/*------------------------------------------------------------------------*/
/*-------------------------------- ! RESET !------------------------------*/
/*------------------------------------------------------------------------*/
@font-face {
    font-family: 'HelveticaNowText';
    src: url('fontes/HelveticaNowText-Medium.woff2') format('woff2'),
        url('fontes/HelveticaNowText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura-Condensed-Extra-Bold';
    src:url('fontes/Futura-Condensed-Extra-Bold.woff') format('woff'),
        url('fontes/Futura-Condensed-Extra-Bold.woff2') format('woff2'),
        url('fontes/Futura-Condensed-Extra-Bold.eot'),
        url('fontes/Futura-Condensed-Extra-Bold.eot?#iefix') format('embedded-opentype'),
        url('fontes/Futura-Condensed-Extra-Bold.otf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura MdCn BT';
    src: url('fontes/FuturaBT-MediumCondensed.woff2') format('woff2'),
        url('fontes/FuturaBT-MediumCondensed.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Better Thinks Typeface';
    src: url('fontes/BetterThinksTypeface-Regular.woff2') format('woff2'),
        url('fontes/BetterThinksTypeface-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

html,
input,
textarea {
	font-family: inherit;
}

ul {
	list-style: none;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
	margin: 0;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

h3,
h4,
h5,
h6 {
	font-size: 100%;
}

a img {
	border: none;
	text-decoration: none;
}

img {
	border: none;
}

button {
	cursor: pointer;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

a,
body,
div,
font,
iframe,
img,
object,
pre,
span,
table,
tbody,
td,
th,
tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
}

:focus {
	outline: 0;
}

p {
	margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

a {
	cursor: pointer;
}
/*------------------------------------------------------------------------*/
/*-------------------------------- ! SKELETON !---------------------------*/
/*------------------------------------------------------------------------
						   .container { background:#D8D8D8 }
				  .container .colunas { background:#AAAAAA }
		 .container .colunas .colunas { background:#7F7F7F;}
.container .colunas .colunas .colunas { background:#393939;}
*/

.container {
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.container .colunas {
	float: left;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

.colunas.alpha {
	margin-left: 0;
}

.colunas.omega {
	margin-right: 0;
}
@media only screen and (min-width:1240px) {
	.container {
		width: 1200px;
	}

	.container .col-1.colunas {
		width: 40px;
	}

	.container .col-2.colunas {
		width: 100px;
	}

	.container .col-3.colunas {
		width: 160px;
	}

	.container .col-4.colunas {
		width: 220px;
	}

	.container .col-5.colunas {
		width: 280px;
	}

	.container .col-6.colunas {
		width: 340px;
	}

	.container .col-7.colunas {
		width: 400px;
	}

	.container .col-8.colunas {
		width: 460px;
	}

	.container .col-9.colunas {
		width: 520px;
	}

	.container .col-10.colunas {
		width: 580px;
	}

	.container .col-11.colunas {
		width: 640px;
	}

	.container .col-12.colunas {
		width: 700px;
	}

	.container .col-13.colunas {
		width: 760px;
	}

	.container .col-14.colunas {
		width: 820px;
	}

	.container .col-15.colunas {
		width: 880px;
	}

	.container .col-16.colunas {
		width: 940px;
	}

	.container .col-17.colunas {
		width: 1000px;
	}

	.container .col-18.colunas {
		width: 1060px;
	}

	.container .col-19.colunas {
		width: 1120px;
	}

	.container .col-20.colunas {
		width: 1180px;
	}

	.container .colunas.um-terco {
		width: 380px;
	}

	.container .colunas.dois-tercos {
		width: 780px;
	}

	.container .colunas.off-1 {
		padding-left: 60px;
	}

	.container .colunas.off-2 {
		padding-left: 120px;
	}

	.container .colunas.off-3 {
		padding-left: 180px;
	}

	.container .colunas.off-4 {
		padding-left: 240px;
	}

	.container .colunas.off-5 {
		padding-left: 300px;
	}

	.container .colunas.off-6 {
		padding-left: 360px;
	}

	.container .colunas.off-7 {
		padding-left: 420px;
	}

	.container .colunas.off-8 {
		padding-left: 480px;
	}

	.container .colunas.off-9 {
		padding-left: 540px;
	}

	.container .colunas.off-10 {
		padding-left: 600px;
	}

	.container .colunas.off-11 {
		padding-left: 660px;
	}

	.container .colunas.off-12 {
		padding-left: 720px;
	}

	.container .colunas.off-13 {
		padding-left: 780px;
	}

	.container .colunas.off-14 {
		padding-left: 840px;
	}

	.container .colunas.off-15 {
		padding-left: 900px;
	}

	.container .colunas.off-16 {
		padding-left: 960px;
	}

	.container .colunas.off-17 {
		padding-left: 1020px;
	}

	.container .colunas.off-18 {
		padding-left: 1080px;
	}

	.container .colunas.off-19 {
		padding-left: 1140px;
	}

	.container .colunas.off-20 {
		padding-left: 1200px;
	}
}
@media only screen and (min-width:980px) and (max-width:1239px) {
	.container {
		width: 960px;
	}

	.container .col-1.colunas {
		width: 28px;
	}

	.container .col-2.colunas {
		width: 76px;
	}

	.container .col-3.colunas {
		width: 124px;
	}

	.container .col-4.colunas {
		width: 172px;
	}

	.container .col-5.colunas {
		width: 220px;
	}

	.container .col-6.colunas {
		width: 268px;
	}

	.container .col-7.colunas {
		width: 316px;
	}

	.container .col-8.colunas {
		width: 364px;
	}

	.container .col-9.colunas {
		width: 412px;
	}

	.container .col-10.colunas {
		width: 460px;
	}

	.container .col-11.colunas {
		width: 508px;
	}

	.container .col-12.colunas {
		width: 556px;
	}

	.container .col-13.colunas {
		width: 604px;
	}

	.container .col-14.colunas {
		width: 652px;
	}

	.container .col-15.colunas {
		width: 700px;
	}

	.container .col-16.colunas {
		width: 748px;
	}

	.container .col-17.colunas {
		width: 796px;
	}

	.container .col-18.colunas {
		width: 844px;
	}

	.container .col-19.colunas {
		width: 892px;
	}

	.container .col-20.colunas {
		width: 940px;
	}

	.container .colunas.um-terco {
		width: 300px;
	}

	.container .colunas.dois-tercos {
		width: 620px;
	}

	.container .colunas.off-1 {
		padding-left: 48px;
	}

	.container .colunas.off-2 {
		padding-left: 96px;
	}

	.container .colunas.off-3 {
		padding-left: 144px;
	}

	.container .colunas.off-4 {
		padding-left: 192px;
	}

	.container .colunas.off-5 {
		padding-left: 240px;
	}

	.container .colunas.off-6 {
		padding-left: 288px;
	}

	.container .colunas.off-7 {
		padding-left: 336px;
	}

	.container .colunas.off-8 {
		padding-left: 384px;
	}

	.container .colunas.off-9 {
		padding-left: 432px;
	}

	.container .colunas.off-10 {
		padding-left: 480px;
	}

	.container .colunas.off-11 {
		padding-left: 528px;
	}

	.container .colunas.off-12 {
		padding-left: 576px;
	}

	.container .colunas.off-13 {
		padding-left: 624px;
	}

	.container .colunas.off-14 {
		padding-left: 672px;
	}

	.container .colunas.off-15 {
		padding-left: 720px;
	}

	.container .colunas.off-16 {
		padding-left: 768px;
	}

	.container .colunas.off-17 {
		padding-left: 816px;
	}

	.container .colunas.off-18 {
		padding-left: 864px;
	}

	.container .colunas.off-19 {
		padding-left: 912px;
	}
}
@media only screen and (max-width:979px) {
	.container {
		width: 780px;
	}

	.container .col-1.colunas {
		width: 58px;
	}

	.container .col-2.colunas {
		width: 136px;
	}

	.container .col-3.colunas {
		width: 214px;
	}

	.container .col-4.colunas {
		width: 292px;
	}

	.container .col-5.colunas {
		width: 370px;
	}

	.container .col-6.colunas {
		width: 448px;
	}

	.container .col-7.colunas {
		width: 526px;
	}

	.container .col-8.colunas {
		width: 604px;
	}

	.container .col-9.colunas {
		width: 682px;
	}

	.container .col-10.colunas,
	.container .col-11.colunas,
	.container .col-12.colunas,
	.container .col-13.colunas,
	.container .col-14.colunas,
	.container .col-15.colunas,
	.container .col-16.colunas,
	.container .col-17.colunas,
	.container .col-18.colunas,
	.container .col-19.colunas,
	.container .col-20.colunas {
		width: 760px;
	}

	.container .colunas.um-terco {
		width: 370px;
	}

	.container .colunas.dois-tercos {
		width: 760px;
	}
}
@media only screen and (min-width:521px) and (max-width:800px) {
	.container {
		width: 480px;
	}

	.container .col-1.colunas {
		width: 140px;
	}

	.container .col-2.colunas {
		width: 220px;
	}

	.container .col-10.colunas,
	.container .col-11.colunas,
	.container .col-12.colunas,
	.container .col-13.colunas,
	.container .col-14.colunas,
	.container .col-15.colunas,
	.container .col-16.colunas,
	.container .col-17.colunas,
	.container .col-18.colunas,
	.container .col-19.colunas,
	.container .col-20.colunas,
	.container .col-3.colunas,
	.container .col-4.colunas,
	.container .col-5.colunas,
	.container .col-6.colunas,
	.container .col-7.colunas,
	.container .col-8.colunas,
	.container .col-9.colunas,
	.container .colunas.dois-tercos,
	.container .colunas.um-terco {
		width: 460px;
	}
}
@media only screen and (max-width:520px) {
	.container {
		width: 100%;
	}

	.container .col-1.colunas,
	.container .col-10.colunas,
	.container .col-11.colunas,
	.container .col-12.colunas,
	.container .col-13.colunas,
	.container .col-14.colunas,
	.container .col-15.colunas,
	.container .col-16.colunas,
	.container .col-17.colunas,
	.container .col-18.colunas,
	.container .col-19.colunas,
	.container .col-2.colunas,
	.container .col-20.colunas,
	.container .col-3.colunas,
	.container .col-4.colunas,
	.container .col-5.colunas,
	.container .col-6.colunas,
	.container .col-7.colunas,
	.container .col-8.colunas,
	.container .col-9.colunas,
	.container .colunas.dois-tercos,
	.container .colunas.um-terco {
		width: 100%;
		box-sizing: border-box;
		margin-left: 0;
		margin-right: 0;
		padding: 0 10px;
	}
}

.u-full-width {
	width: 100%;
	box-sizing: border-box;
}

.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box;
}

.u-pull-right {
	float: right;
}

.u-pull-left {
	float: left;
}
@media only screen and (max-width: 999px) {
	.menuButton {
		display: block;
	}

	.menuLinks {
		display: none;
	}
}
@media only screen and (min-width: 1000px) {
	.menuButton {
		display: none;
	}

	.menuLinks {
		display: block;
	}
}

.rollover {
	opacity: 1;
	transition: all 0.3s linear;
}

.rollover:hover {
	opacity: 0.7;
}

.margin0 {
	margin: 0!important !important;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 12px;
}

a {
	text-decoration: none;
	color: #666;
	transition: all 0.3s linear;
}

a:hover {
	text-decoration: underline;
	color: #333;
}

i {
	transition: all 0.3s linear;
}

.imgfull {
	width: 100%;
	height: auto;
}

:root {
	--marrom: #7d5f61;
}
/*------------------------------------------------------------------------*/
/*-------------------------------- ! ESTRUTURA !--------------------------*/
/*------------------------------------------------------------------------*/


//css personalizado
body {
	font-family: 'HelveticaNowText', sans-serif;
	color: #333333;
	font-size: 14px;
}
$cor1: #E34139;
$cor2: #364B9D;
.bold, strong{
	font-family: 'Futura-Condensed-Extra-Bold';
}
.especial{
	font-family: 'Better Thinks Typeface';
}
.font-texto{
  font-family: 'Futura MdCn BT';
}
a {
	text-decoration: none;

	&:hover {
		color: $cor1;
	}
}
.cor{
	color: $cor1;
}
.cor1{
	color: $cor2;
}
.title{
	font-size: 42px;
	color: #fff;
	.especial{
		font-size: 78px;
	}
}
.img-responsive {
	max-width: 100%;
	display: block;
	height: auto;
}

.text-center {
	text-align: center;
}

.center-block {
	margin: 0 auto;
}

.mr-1 {
	margin-right: 10px;
}

.mr-2 {
	margin-right: 20px;
}

.mr-3 {
	margin-right: 30px;
}

.mr-4 {
	margin-right: 40px;
}

.mr-5 {
	margin-right: 50px;
}

.ml-0 {
	margin-left: 0 !important;
}

.ml-1 {
	margin-left: 10px;
}

.ml-2 {
	margin-left: 20px;
}

.ml-3 {
	margin-left: 30px;
}

.ml-4 {
	margin-left: 40px;
}

.ml-5 {
	margin-left: 50px;
}

.mt-1 {
	margin-top: 10px;
}

.mt-2 {
	margin-top: 20px;
}

.mt-3 {
	margin-top: 30px;
}

.mt-4 {
	margin-top: 40px;
}

.mt-5 {
	margin-top: 50px;
}

.mb-1 {
	margin-bottom: 10px;
}

.mb-2 {
	margin-bottom: 20px;
}

.mb-3 {
	margin-bottom: 30px;
}

.mb-4 {
	margin-bottom: 40px;
}

.mb-5 {
	margin-bottom: 50px;
}

.border-radius {
	border-radius: 8px;
	overflow: hidden;
}

.text-center {
	text-align: center;
}
.btn-primary{
	background: #E34139;
	border-radius: 20px;
	padding: 8px 35px;
	color: #fff;
	display: inline-block;
	text-decoration: none;
  transition: all .5s ease;
	&:hover{
		background: $cor2;
		transition: all .3s ease;
		color: #fff;
		text-decoration: none;
    transition: all .5s ease;
	}
}
.btn-primary-outline{
	background: none;
	border: 2px solid #fff;
	border-radius: 20px;
	padding: 8px 35px;
	color: #fff;
	display: inline-block;
	text-decoration: none;
  transition: all .5s ease;
  background: none;
	&:hover{
		border-color: $cor1;
		transition: all .3s ease;
		color: $cor1;
		text-decoration: none;
    transition: all .5s ease;
    background: #fff;
	}
}
.inicial, .quem-somos{
  .top{
    background-color: inherit !important;
  }
  .top.fixed{
    background-color: rgba(0, 0, 0, .9) !important;
  }
}
.top.fixed{
  background-color: rgba(0, 0, 0, .9);
  padding: 10px 0 0;
  transition: all .3s linear;
  height: 80px;
  .mt-4{
    margin-top: 20px;
    transition: all .3s linear;
  }
  .logo{
    transform: scale(.5) !important;
    transition: all .1s linear;
    margin-top: -38px
  }
  ul{
    height: 40px;
  }
}
.top{
	position: fixed;
	width: 100%;
	top:0;
	padding: 30px 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, .4);
  transition: all .3s linear;
  .mt-4{
    transition: all .3s linear;
  }
  .logo{
    transform: scale(1) !important;
    transition: all .1s linear;
    margin-top: 0;
  }
	ul{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 90px;
		li{
			list-style: none;
      text-transform: capitalize;
			a{
				color: #fff;
        position: relative;
        span{
          position: absolute;
          left: 40%;
          bottom: -5px;
          background: $cor1;
          height: 2px;
          width: 50%;
          opacity: 0;
        }
        &:hover{
          span{
            opacity: 1;
            left: 0;
            width: 100%;
            transition: all .3s linear;
          }
          text-decoration: none;
        }
        &.ativo{
          span{
            opacity: 1;
            left: 0;
            width: 100%;
            transition: all .3s linear;
          }
        }
			}
		}
	}
}
.z-index{
  position: relative;
  z-index: 9;
}
.bandeiras{
  img{
    position: relative;
    top:10px;
  }
  .btn-primary{
    text-decoration: underline;
    &:hover{
      background-color: #fff;
      color: $cor1;
    }
  }
}
.history-home{
	background-image: url(../img/bg-history.jpg);
  background-repeat: no-repeat;
	padding: 60px 0;
	h3{
		color: #fff;
		font-size: 18px;
	}
}
.slick-dots li button, .slick-dots li button:before{
  content: inherit !important;
}
.slick-next:before, .slick-prev:before{
	content: inherit !important;
}
.slick-next{
	background-image: url(../img/next.svg) !important;
  content: inherit !important;
}
.slick-prev{
	background-image: url(../img/prev.svg) !important;
  content: inherit !important;
}
.slick-dots{
	bottom: 25px !important;
	li{
		width: 10px !important;
    height: 10px !important;
		button{
			width: 12px !important;
			height: 12px !important;
			background-color: #B2B2B2 !important;
		}
	}
	li button:hover, li.slick-active button{
		background-color: #646464 !important;
	}
}
.bg-slide{
	background-image: url(../img/bg-gray.jpg);
	padding-bottom: 80px;
  position: relative;
	.slick-next, .slick-prev{
		top:45% !important;
	}
	.slick-next{
		right: 10% !important;
	}
	.slick-prev{
		left: 10% !important;
	}
  div{
    position: relative;
    .btn-primary-outline{
      position: absolute;
      bottom: 230px;
      left: 380px;
      border-color: #fff;
      color: #fff;
      z-index: 999;
      transition: all .3s ease;
      &:hover{
        background: $cor2;
        transition: all .3s ease;
      }
    }
  }
}
.bg-parceria{
  background-image: url(../img/bg-gray.jpg);
	padding: 50px 0;
  background-size: 100% 35%;
  background-color: $cor1;
  background-repeat: no-repeat;
  .slide{
    border-radius: 20px;
    overflow: hidden;
    img{
      border-radius: 20px;
    }
  }
  .btn-primary-outline{
    &:hover{
      border-color: $cor2;
      color: $cor2;
      transition: all .3s ease;
    }
  }
  h2{
    font-size:60px;
    color: #fff;
  }

}
footer{
  background-color: $cor2;
  padding: 100px 0 50px;
  font-size: 20px;
  color: #fff;
  a{
    color: #fff;
    &:hover{
      img{
        opacity: .3;
        transition: all .3s ease;
      }
    }
  }
  .logo{
    position: relative;
    .effect{
      position: absolute;
      left: 290px;
      top: -241px;
    }
  }
  .menor{
    font-size: 12px;
  }
}

.uppercase{
  text-transform: uppercase;
}
.bg-madeira{
  background-image: url(../img/madeira.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 130px 0;
  display: table;
  width: 100%;
  position: relative;
  overflow: hidden;
  .logo{
    position: absolute;
    right: 250px;
    bottom: 50px;
  }
  .mao{
    position: absolute;
    bottom: -230px;
    left: 10%;
    width: 660px;
  }
  .maior-marca{
    background-color: $cor1;
    padding:50px 0;
    display: table;
    width: 100%;
    color: #fff;
    font-size: 18px;
    position: relative;
    line-height: 25px;
    h1{
      font-size: 44px;
      line-height: 55px;
    }
    img{
      position: absolute;
      top: 10px;
      right: -150px;
      width: 850px
    }
  }
}
.bg-mapa{
  position: relative;
  //overflow: hidden;
  box-sizing: border-box;
  height: 955px;
  background-image: url(../img/mapa.jpg);
    background-position: top right;
    background-size: auto 100%;
  .container{
    height: 950px;
  }

  h3{
    color: $cor2;
    font-size: 68px;
    small{
      font-size: 38px;
    }
  }

  .texto{
    position: absolute;
    left: 0;
    bottom: 50px;
  }
  .ponto{

    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    .infos{
      width: 140px;
      position: absolute;
      z-index: 1111;
      right: -150px;
      top: -205px;
      color: #838383;
      text-transform: uppercase;
      font-size: 24px;
      text-align: right;
      line-height: 24px;
      display: none;
      padding-bottom: 30px;
      background-position: left bottom;
      background-image: url(../img/seta.png);
      background-repeat: no-repeat;
      small{
        margin-top: 15px;
        font-size: 18px;
        display: table;

      }
      img{
        margin: 0 auto 10px;
      }
    }

    .circulo{
      width: 10px;
      height: 10px;
      background: #262A9B;
      position: absolute;
      border-radius: 100%;
      z-index: 999;
    }

    span{
      position: absolute;
    }
    .borda1, .borda2 {
      border-width: 1px;
      border-style: solid;
      border-color: $cor2;
      border-radius: 100%;
      opacity: 0;
    }
    .borda2{
    }
    .borda3{
      border-width: 1px;
      border-style: solid;
      border-color: $cor2;
      border-radius: 100%;
      opacity: 0;

    }

    &:hover {
      .circulo{
          background: $cor1;
          &:hover{

          }
      }


    }
  }
  .ponto.hover{
    .infos{
      display: block;
    }
    .borda1, .borda2, .borda3{
      animation: pulse 1s ease-in-out infinite;
    }
    .borda1{
      opacity: 1;
      padding: 50px;
    }
    .borda2{
      opacity: .6;
      padding: 150px;
    }
    .borda3{
      opacity: .4;
      padding: 250px;
    }
  }
}
.busca{
  width: 700px;
  position: absolute;
  right: 0;
  top:90px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  display: none;
  form{
    input{
      width: 89%;
      margin-top: 0;
      padding: 15px;

    }
    .btn{
      background: $cor2;
      color: #fff;
      padding: 15px;
      border-radius: 8px;
      text-decoration: none;
      float: right;
      &:hover{
        background: $cor1;
        transition: all .3s ease;
      }
    }
  }
}
.abrir-busca{
  .icon-busca{
    display: block;
  }
  .icon-fechar{
    display: none;
  }
}
.abrir-busca.ativo{
  .icon-busca{
    display: none;
  }
  .icon-fechar{
    display: block;
  }
}
.busca.aberto{
  display: block;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.35;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.produtos{
  background: #E5E5E5;
  display: table;
  width: 100%;
  h1{
    color: $cor1;
    font-size: 90px;
  }
  h2{
    font-size: 40px;
  }
}
.bg-produtos{
  background-image: url(../img/bg-produtos.jpg);
  display: table;
  width: 100%;
  padding-bottom: 80px;
  background-size: auto 100%;
  position: relative;
  overflow: hidden;
  .limao{
    position: absolute;
    right: -700px;
    top:80px;

  }
  .box{
    position: relative;
    padding: 0 0 80px;
    display: table;
    width: 100%;
    .imagem-produto{
      width: 400px;
      margin: 0 auto;
    }
  }
  h2{
    color: $cor1;
    font-size: 90px;

  }
  h4{
    color: $cor1;
    font-size: 40px;
    text-transform: uppercase;
  }
  p{
    font-size: 18px;
    color: #696969;
  }
  a{
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 12px 35px;
    position: absolute;
    width: 90%;
    box-sizing: border-box;
    z-index: 11;
    height: 45px;
    transition: all .5s linear;
    img{
      float: right;
      position: relative;
      top:3px;
    }
    .texto{
      display: none;
      transition: all .8s linear;
      height: 0;
    }
    &:hover{
      background: $cor1;
      height: 100%;
      transition: all .3s linear;
      p{
        color: #fff;
        text-align: left;
      }
      .bt{
        display: none;
        transition: all .3s linear;
      }
      .texto{
        display: block;
        animation: efeito 1s ease-in-out;
        height: 100%;
      }
    }
  }
  h3{
    text-align: left;
    font-size: 40px;
    color: #fff;
  }
  .texto{
    padding: 25px 15px;
  }
}
@keyframes efeito {
  0% {
    height: 0;
    opacity: 0.35;
  }
  100% {
    height: 100px;
    opacity: 0.5;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}
.slide-produtos{
  .slick-next{
    right: -25px;
  }
  .slick-prev{
    left: -25px;
  }
}
.slide2-produtos{
  img{
    width: 300px;
  }
  div{
    margin: 0 20px;
  }
  .slick-dots{
    bottom: -45px !important;
  }
  .slick-next{
    right: -25px;
  	background-image: url(../img/next1.svg) !important;
  }
  .slick-prev{
    left: -25px;
  	background-image: url(../img/prev1.svg) !important;
  }
  h2{
    color: $cor1;
    font-size: 36px;
    text-transform: uppercase;
    width: 100%;
  }
  p{
    font-size: 16px;
    color: #696969;
    width: 80%;
  }
}
.industria-video{
  background: $cor1;
  padding: 30px;
  video{
    border-radius: 15px;
    border: 3px solid #707070;
  }
  h2{
    color: #fff;
    font-size: 100px;
    line-height: 110px;
    .especial{
      font-size: 130px;
    }
  }
}
.contato{
  background: $cor1;
  padding: 80px 0;
  h2{
    color: #fff;
    font-size: 80px;
  }
  p{
    color: #fff;
    font-size: 16px;
  }
}
form{
  display: table;
  width: 100%;
  label{
    display: table;
    color: #fff;
  }
  input, textarea{
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
    box-sizing: border-box;
  }
  a{
    color: #fff;
  }
  button{
    background: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    float: right;
    &:hover{
      background: $cor2;
      color: #fff;
      transition: all .3s ease;
    }
  }
  .checkbox{
    input{
      float: left;
      width: 40px;
      margin: 2px;
    }
  }
}
.whats{
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 9999;
  img{
    width: 80px;
  }
  &:hover{
    opacity: .7;
    transition: all .3s ease;
  }
}
.banner-produtos{
  .slick-next{
  	background-image: url(../img/next1.svg) !important
  }
  .slick-prev{
  	background-image: url(../img/prev1.svg) !important
  }
}
.banner{
  .slick-next{
  	background-image: url(../img/next1.svg) !important
  }
  .slick-prev{
  	background-image: url(../img/prev1.svg) !important
  }
  .slick-slide{
    height: 95vh !important;
  }
 height: 95vh !important;
  div{
    position: relative;
      .infos{
        position: absolute;
        bottom: 50px;
        left: 180px;
        text-align: center;
        h2{
          color: $cor1;
          font-size: 34px;
          width: 400px;
          line-height: 45px;
          margin-bottom: 30px;

        }
      }
  }

}
.bg-politica{
  background-image: url(../img/bg-politica.jpg);
  background-repeat: no-repeat;
  padding-top: 280px;
  font-size: 20px;
  background-repeat: repeat-y;
  padding-bottom: 80px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  h1{
    font-size: 48px;
  }
}

#mascara {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    background-color: #000;
    display: none;
}

#box .window {
    position: absolute;
    left: 0;
    top: 30% !important;
    display: none;
    z-index: 999999;
    padding: 5px;
}

.popup-texto {
    background: #000;
    padding-top: 0;
    font-size: 15px;
    border-radius: 10px;
    max-width: 1000px;
    text-align: -webkit-center;
    overflow: hidden;
    border: 3px solid #707070;
}

.fechar {
    display: block;
    text-align: right;
    color: #fff;
    font-size: 26px;
}

.fechar:hover {
    text-decoration: none;
    color: #707070;

}

@media (max-width: 1700px)
{
  .bg-mapa{
    background-position-x: -200px;
  }
  .bg-slide div .btn-primary-outline{
    bottom: 190px;
    left: 310px
  }
}

@media (max-width: 1440px)
{
  #ponto1 .infos{
    right: inherit;
    left: -120px;
    background-image: url(../img/seta-v1.png);
    background-size: 100%;

  }
  .bg-mapa{
    background-position-x: -350px;
  }
  .banner{
    .infos{
      left: 50px !important;
    }
  }

}
@media (max-width: 1280px)
{
  .bg-mapa{
    background-position-x: -380px;
  }
}
@media (min-width: 769px)
{
  .dekstop-hidden{
    display: none !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px)
{
  .banner {
    height: auto !important;
    .slick-slide{
      height: auto !important;
    }
  }
  .bg-madeira .maior-marca img{
    right: 0;
    width: 540px;
  }
  .btn-primary{
    padding: 8px 22px;
  }
}
@media (max-width: 769px)
{
  .popup-texto{
    video{
      height: auto;
    }
  }
  .bg-politica{
    padding-top:10px;
    h1{
      font-size: 30px;
    }
  }
  .industria-video {
    video{
      height: auto;
    }
    h2{
      font-size: 34px;
      line-height: 50px;
      .especial{
        font-size: 60px;
      }
    }
  }
  .contato {
    padding: 40px 0;
    h2{
      font-size: 40px;
    }
  }
  .whats{
    right: 5px;
    bottom: 5px;
  }
  .bandeiras .btn-primary{
    font-size: 14px;
  }
  .banner .slick-slide{
    height: auto !important;
  }
  .banner{
    height: auto !important;
  }
  .slide-produtos {
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
  }
  .produtos{
    padding: 15px;
    box-sizing: border-box;
    display: block;
    h1{
      font-size: 40px;
    }
  }
  .bg-produtos a:hover{
    height: auto;
    padding: 15px;
  }
  .bg-produtos {
    padding: 15px;
    box-sizing: border-box;
    display: block;
    .limao{
      display: none;
    }
    h4{
      font-size: 30px;
    }
    h3{
      font-size: 28px;
    }
    h2{
      font-size: 40px;
      margin-top: 0;
    }
    a{
      width: 100%;
      position: inherit;

    }
  }
  .mobile-hidden{
    display: none !important;
  }
  footer {
    padding: 70px 15px 50px;
    box-sizing: border-box;
    .logo .effect{
      position: absolute;
      left: 15px;
      top: -130px;
      width: 180px;
    }
  }
  .banner {
    .infos {
      display: none;
    }
  }
  .inicial, .quem-somos{
    .top{
      background-color: $cor2 !important;
    }
  }
  .top{
    padding:5px 0;
    background-color: $cor2 !important;
    ul{
      display: block;
      text-align: right;
      li{
        width: 100%;
        a{
          display: table;
          width: 100%;
          padding: 10px;
          font-size: 16px;
          box-sizing: border-box;

        }
      }
    }
    .logo{
      width: 112px;
      float: left !important;
    }
  }
  body{
    padding-top: 80px;
  }
  #menu, .sub-menu {
    display: none;
    list-style: none;
  }

  /*Change toggle size by adjusting width & height*/
  .tb-menu-toggle {
    border: 0;
    position: absolute;
    background: transparent;
    cursor: pointer;
    top:15px;
    right: 15px;
  }

  /*Change toggle color here*/
  .tb-menu-toggle i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    -webkit-transition:all .2s;
     -moz-transition:all .2s;
       -o-transition:all .2s;
          transition:all .2s;
  }
  .tb-menu-toggle i:nth-child(2) {
    top: 40%;
  }
  .tb-menu-toggle i:nth-child(3) {
    top: 80%;
  }

  /* Style the active toggle here */
  .tb-menu-toggle.tb-active-toggle i {  }

  /*Animation of the toggle*/
  .tb-menu-toggle.tb-animate-toggle i:first-child,
  .tb-menu-toggle.tb-animate-toggle i:nth-child(2){
    top: 40%;
    -webkit-transform:rotate(45deg);
     -moz-transform:rotate(45deg);
      -ms-transform:rotate(45deg);
       -o-transform:rotate(45deg);
          transform:rotate(45deg);
  }
  .tb-menu-toggle.tb-animate-toggle i:nth-child(3){
    top: 40%;
    -webkit-transform:rotate(-45deg);
     -moz-transform:rotate(-45deg);
      -ms-transform:rotate(-45deg);
       -o-transform:rotate(-45deg);
          transform:rotate(-45deg);
  }
  .menu-mobile{
    right: -600px;
    width: 60%;
    position: absolute;
    padding: 60px 15px;
    box-sizing: border-box;
    background: $cor2;
    height: 120vh;
    top:-5px;
    -webkit-box-shadow: -3px 0px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 0px 12px -4px rgba(0,0,0,0.75);
    box-shadow: -3px 0px 12px -4px rgba(0,0,0,0.75);
    transition: all .5s linear;

  }
  .menu-mobile.mostra{
    right: 0;
    transition: all .2s linear;
  }
  .history-home{
    background-size:auto 100%;
    background-position-x: 0;
    padding: 60px 15px;
    box-sizing: border-box;
    background-position: top right;
  }
  .title {
    font-size: 28px;
    .especial{
      font-size: 54px;
    }
  }
  .bg-slide{
    padding-bottom: 40px;
  }
  .bg-parceria{
    padding: 15px;
    box-sizing: border-box;
    background-size: 100% 15%;

    h2{
      font-size: 28px;
    }
  }
  .bg-madeira{
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    .maior-marca img{
      position: relative;
      top: 40px;
      right: 0;
      width: 100%;
    }
    .mao{
      bottom: -154px;
      left: 0;
      width: 250px;
   }
   .logo{
     right: 20px;
     bottom: -70px;
     width: 80px;
   }
  }
  .bg-mapa {
    padding: 15px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position-x: inherit;
    background-position: center right;
    height: auto;
    .container{
      height: auto;
    }
    .ponto{
      position: inherit;
      left: inherit !important;
      right: inherit !important;
      top: inherit !important;
      bottom: inherit !important;
      display: inline-block;
      padding: 0 15px;
      box-sizing: border-box;
      width: 49%;
      margin-bottom: 30px;
      .circulo{
        position: inherit;
      }
      .infos{
        display: table;
        width: 100% !important;
        position: relative;
        right: inherit !important;
        top: inherit !important;
        left: inherit !important;
        width: 0;
        text-align: left;
        line-height: 24px;
        font-size: 24px;
        background: none !important;
        border-bottom: 1px solid $cor2;
        float: left;
        padding-bottom: 5px;
        z-index: 0;

        img{
          display: none;
        }
        small{
          font-size: 14px;
        }
      }
    }
    h3{
      font-size: 38px;
      small{
        font-size: 18px;
      }
    }
    .texto{
      position: relative;
      top:0;
    }
    .logo{
      width: 150px;
    }
  }
  .slide2-produtos {
    .slick-prev {
      left: 0px;
    }
    .slick-next {
      right: 0px;
    }
  }
}
